<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Instructivo guiso</title>
</head>
<body>
    <h1 id="titulo2"><U>Guiso de lentejas</U></h1>
    <img src="../img/guiso.jpg" alt="Imagen guiso" width="500" height="200">
    <h3 class="subtitulo">Ingredientes</h3>
    <ul>
        <li>chorizo colorado</li>
        <li>panceta ahumada</li>
        <li>roast beef u otra carne</li>
        <li>cebolla</li>
        <li>ajo</li>
        <li>morron</li>
        <li>papa</li>
        <li>zanahoria</li>
        <li>tomate</li>
        <li>lentejas</li>
        <li>sal</li>
        <li>pimienta</li>
        <li>ajo en polvo</li>
        <li>pure de tomate</li>
        <li>pimenton</li>
        <li>aceite</li>
        <li>oregano</li>
        <li>perejil</li>
    </ul>
    <hr>
    <h3 class="subtitulo">Preparación</h3>
    <iframe width="500" height="200" src="https://www.youtube.com/embed/qRHymy7Ue4E" title="CÓMO HACER GUISO DE LENTEJAS (CON CARNE)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <ol>
    <li>Cortar el chorizo y hervir por 15 minutos</li>
    <li>Cortar la panceta en pedacitos pequeños y la carne en cubos mas grandes</li>
    <li>Picar la cebolla y ajo finamente</li>
    <li>Cortar el tomate</li>
    <li>Colocar en una olla antiadherente y a fuego fuerte los trocitos de panceta</li>
    <li>Cuando la panceta está tostada le agregamos el chorizo colorado previamente escurrido</li>
    <li>Añadir la carne y dorar de la misma forma que doramos la panceta</li>
    <li>Agregar la cebolla, el morrón y el ajo. Añadí un poquito de sal para que las verduras larguen su agua y queden bien tiernas</li>
    <li>Sumar el tomate a la olla y cociná hasta hasta que éste cambie de color a un rojo más intenso</li>
    <li>Añadir todas las carnes (chorizo, panceta, y roast beef) y también un chorro de vino</li>
    <li>Agregar las papas y las zanahorias mientras revolvemos. Condimentamos con sal, pimienta, ajo en polvo, pimentón, y una pizca de orégano</li>
    <li>Ahora vamos a completar con las lentejas y con el agua calentita</li>
    <li>Una vez que estén las lentejas cocidas esperamos que se termine de evaporar el agua y lo dejamos reposar.</li>
    </ol>
    <br>
<a href="../../index.html">Volver a pagina principal</a>
</body>
</html>