<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Instructivo pizza</title>
</head>
<body>
    <h1 id="titulo3"><U>Pizza rúcula y jamon crudo</U></h1>
    <img src="../img/pizza rucula y jamon crudo.webp" alt="imagen pizza" width="500" height="200">
<h3 class="subtitulo">Ingredientes</h3>
<ul>
    <li>harina</li>
    <li>sal</li>
    <li>agua</li>
    <li>levadura</li>
    <li>aceite de oliva</li>
    <li>azucar</li>
    <li>salsa de tomate</li>
    <li>muzzarella</li>
    <li>jamón crudo</li>
    <li>rúcula fresca</li>
    <li>tomates secos</li>
    <li>parmesano</li>
    <li>pimienta</li>
</ul>
<hr>
<h3 class="subtitulo">Preparación</h3>
<iframe width="500" height="200" src="https://www.youtube.com/embed/cTrNbn59iPg" title="&quot;Pizza de rúcula y jamón crudo a la piedra&quot; ideal para un viernes" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<ol>
    <li>Armar una corona con la harina</li>
    <li>Colocar en el centro de la corona el agua, la levadura y el azúcar</li>
    <li>Agregar la sal en el contorno exterior de la corona</li>
    <li>Integrar todos los ingredientes</li>
    <li>Agregar el aceite de oliva</li>
    <li>Amasar hasta formar un bollo liso y homogéneo</li>
    <li>Dejar leudar durante 40 minutos a una temperatura de 30 grados en un bowl cubierto con papel film</li>
    <li>Luego desgasificar y estirar la masa</li>
    <li>Cocinar la prepizza en horno a 200 grados durante 10 minutos</li>
    <li>Colocar el queso muzzarella sobre la prepizza</li>
    <li>Llevar a gratinar al horno a 240 grados</li>
    <li>Agregar luego el jamón crudo, la rúcula y los tomates secos</li>
    <li>Luego rociar con aceite de oliva y queso parmesano</li>
</ol>
<br>
<a href="../../index.html">Volver a pagina principal</a>
</body>
</html>